#webpage{
    background-color: #252835;
}

#FixedBoxFixer {
    height: 10px;
}

#Entwickler {
    position: fixed;
    left: 10px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: #FF8C00;
}

#Donation {
    right: 10px;
    position: fixed;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: #FF8C00;
}

#Ueberschrift {
    position: relative;
}

#Headline {
    font-size: 65px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 10px;
}

.AxieLogo {
    background-image: url('./Bilder/Axie\ Logo.png');
    width: 1000px;
    height: 400px;
    /* you need to match the shadow color to your background or image border for the desired effect*/
    box-shadow: 0 0 8px 8px #252835 inset;
    position: absolute;
    margin-left: 50%;
    left: -250px;
    transform: scale(0.5);
    transform-origin: top left;
}

/* unvisited link */
a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
}
  
  /* mouse over link */
a:hover {
    color: rgb(155, 155, 155);
}
  

#LinkListDiv {
    position: relative;
    margin-left: 50%;
    right: 200px;
}

#LinkList {
    position: absolute;
    text-align: left;
    margin-top: 250px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
}